@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');


.km-card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 2rem;
}

.km-background{
    color: #F496D1;
}
